.MuiTableRow-root.Mui-selected{
    background-color: white !important;
}
.MuiCheckbox-colorSecondary.Mui-checked{
    color: #00B0BC !important;
}

thead.MuiTableHead-root tr th span.MuiButtonBase-root{
    color: white !important;
}