body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pi-chevron-right:before {
  content: "\e905" !important;
}

.pi-chevron-down:before {
  content: "\e906" !important;
}
.ant-tree{
  max-height: 100%;
  overflow: auto;
}

.ant-tree-list-holder-inner {
background-color: #fafafa;
}
